<div class="jumbotron">
 	<h1>Klusbib reservaties (admin)</h1>
 	<p>Hier vind je een overzicht van de lopende reservaties</p>
</div>
<flash-message></flash-message>
      	
<table class="table table-striped">
   <thead>
         <tr>
            <th>Lid</th>
            <th>Materiaal code</th>
            <th>Van</th>
            <th>Tot</th>
            <th>Type</th>
            <th>Status</th>
            <th>Opmerking</th>
            <th ng-if="$ctrl.showFunctions" >Functies</th>
         </tr>
   </thead>
   <tbody>

        <tr class="buttons" ng-if="$ctrl.showFunctions">
            <td>
           		<select name="newReservationUserId" ng-model="newReservation.userId">
           			<option ng-repeat="user in $ctrl.users" value="{{user.user_id}}">{{user.firstname}} {{user.lastname}}</option>
		    	</select>
            </td>
            <td>
           		<select name="newReservationToolId" ng-model="newReservation.toolId">
           			<option ng-repeat="tool in $ctrl.tools" value="{{tool.tool_id}}">{{tool.code}} - {{tool.name}}</option>
		    	</select>
            </td>
            <td><input type="date" ng-model="newReservation.startDate"></input></td>
            <td><input type="date" ng-model="newReservation.endDate"></input></td>
            <td>
           		<select name="newReservationType" ng-model="newReservation.type">
           			<option ng-repeat="type in $ctrl.reservationTypes" value="{{type.id}}">{{type.name}}</option>
		    	</select>
            </td>
            <td>
           		<select name="newReservationState" ng-model="newReservation.state">
           			<option ng-repeat="state in $ctrl.reservationStates" value="{{state.id}}">{{state.name}}</option>
		    	</select>
            </td>
            <td><input type="text" ng-model="newReservation.comment" maxlength="255" ></input></td>
            <td>
                <button ng-click="$ctrl.newReservation(newReservation.userId, newReservation.toolId, newReservation.startDate, newReservation.endDate,
                newReservation.type, newReservation.state, newReservation.comment)">
                    Reservatie toevoegen
                </button>
            </td>
        </tr>
        <tr ng-repeat="item in $ctrl.reservations"> 
            <td>{{$ctrl.getUserName(item.user_id)}} ({{item.user_id}})</td>
            <td>{{$ctrl.getToolNameAndCode(item.tool_id)}} ({{item.tool_id}})</td>
            <td>{{item.startsAt}}</td>
            <td>{{item.endsAt}}</td>
            <td>
            	<select ng-model="item.type">
           			<option ng-repeat="type in $ctrl.reservationTypes" value="{{type.id}}">{{type.name}}</option>
		    	</select>
 			</td>
            <td>
          		<select ng-model="item.state">
           			<option ng-repeat="state in $ctrl.reservationStates" value="{{state.id}}">{{state.name}}</option>
		    	</select>
            </td>
            <td><input type="text" ng-model="item.comment" size="50"></input></td>
            <td ng-if="$ctrl.showFunctions">
			<button ng-click="$ctrl.confirmReservation(item, $index)" ng-if="$ctrl.canBeConfirmed(item)">Bevestigen</button>
			<button ng-click="$ctrl.convertToLoan(item, $index)" ng-if="$ctrl.canBeConvertedToLoan(item)">Uitlenen</button>
			<button ng-click="$ctrl.extendReservation(item, $index)" ng-if="$ctrl.canBeExtended(item)">Verlengen</button>
			<button ng-click="$ctrl.cancelReservation(item, $index)" ng-if="$ctrl.canBeCancelled(item)">Annuleren</button>
			<button ng-click="$ctrl.editReservation(item, $index)">Opslaan</button>
            <button ng-click="$ctrl.closeReservation(item, $index)" ng-if="$ctrl.canBeClosed(item)">Beëindigen</button>
            <button ng-click="$ctrl.deleteReservation(item.reservation_id, $index)" ng-if="$ctrl.canBeDeleted(item)">Verwijderen</button>
            </td>
        </tr>

   </tbody>
</table>
