<section id="content_home" class="active" class="content_section">
	<h4>Prijslijst verbruiksgoederen</h4>
	<table id="price_table" class="table table-striped">
		<thead>
			<tr>
				<th>Categorie</th>
				<th>Merk</th>
				<th>Referentie</th>
				<th>Beschrijving</th>
				<th>Prijs</th>
				<th>Stock</th>
			</tr>
		</thead>
		<tbody id="price_table_tbody">
		<tr ng-repeat="item in $ctrl.consumers | filter:{public:1}">
			<td>{{item.category}}</td>
			<td>{{item.brand}}</td>
			<td>{{item.reference}}</td>
			<td>{{item.description}}</td>
			<td>{{item.price}} &euro; {{item.unit}}</td>
			<td>{{item.stock}}</td>
		</tr>
	</table>
</section>