
<!-- <p>Hallo {{$ctrl.user.firstname}}</p> -->
<h2>Mijn gegevens</h2>
<p>
Voornaam {{$ctrl.user.firstname}}<br>
Naam {{$ctrl.user.lastname}}<br>
Adres {{$ctrl.user.address}}, {{$ctrl.user.postal_code}} {{$ctrl.user.city}}<br>
Email {{$ctrl.user.email}}<br>
Tel {{$ctrl.user.phone}}<br>
GSM {{$ctrl.user.mobile}}<br>
Start lidmaatschap {{$ctrl.user.membership_start_date}}<br>
Einde lidmaatschap {{$ctrl.user.membership_end_date}}<br>
Geboortedatum {{$ctrl.user.birth_date}}<br>
</p>
<h2>Mijn reservaties</h2>
<table class="table table-striped">
   <thead>
         <tr>
            <th>Titel</th>
            <th>Toestel</th>
            <th>Begin</th>
            <th>Einde</th>
         </tr>
   </thead>
   <tbody>
        <tr ng-repeat="item in $ctrl.user.reservations"> 
            <td>{{item.title}}</td>
            <td><a ng-href="#!/tools/{{item.tool_id}}">{{item.tool_id}}</a></td>
            <td>{{item.startsAt}}</td>
            <td>{{item.endsAt}}</td>
        </tr>
   </tbody>
</table>

<h2>Nieuwe reservatie:</h2>
<form class="form-horizontal" role="form" ng-submit="$ctrl.addReservation()">
    <div class="form-group">
        <label for="start_date" class="col-sm-2 control-label">Start datum</label>

        <div class="col-sm-10">
            <input type="date" class="form-control" id="start_date" placeholder="Start Datum" ng-model="$ctrl.reservation.start_date">
        </div>
    </div>
    <div class="form-group">
        <label for="end_date" class="col-sm-2 control-label">Eind datum</label>

        <div class="col-sm-10">
            <input type="date" class="form-control" id="end_date" placeholder="Eind Datum"
                   data-ng-model="$ctrl.password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary pull-right">Reserveren</button>
        </div>
    </div>
    <p data-ng-show="$ctrl.error" class="error">{{ $ctrl.error }}</p>
</form>
