
<flash-message></flash-message>
<!--<a class="btn btn-primary" ui-sref="tool-admin()" ng-if="$ctrl.showAdminLinks()">Beheer tools</a>-->
<a class="btn btn-primary" ui-sref="user-admin()" ng-if="$ctrl.showAdminLinks()">Beheer gebruikers</a>
<h2>Mijn gegevens</h2>
<form name="form" ng-submit="$ctrl.updateUser()" role="form">

<table class="table table-striped">
	<tr>
		<td><label for="firstname">Voornaam</label></td>
		<td><input type="text" name="firstname" id="firstname" class="form-control" ng-model="$ctrl.user.firstname" required /></td>
	</tr>
	<tr>
		<td><label for="lastname">Achternaam</label></td>
		<td><input type="text" name="lastname" id="lastname" class="form-control" ng-model="$ctrl.user.lastname" required /></td>
	</tr>
	<tr>
		<td><label for="address">Adres</label></td>
		<td>
			<input type="text" name="lastname" id="address" class="form-control" ng-model="$ctrl.user.address" size="50" required /><br>
		 	<input type="text" name="postcode" id="postcode" ng-model="$ctrl.user.postal_code" size="5" required />
		  	<input type="text" name="city" id="city" ng-model="$ctrl.user.city" size="50" required/>
		</td>
	</tr>
	<tr>
		<td><label for="email">Email</label></td>
		<td><input type="email" name="email" id="email" class="form-control" ng-model="$ctrl.user.email" size="35" required /></td>
	</tr>
	<tr>
		<td><label for="phone">Telefoon</label></td>
		<td><input type="tel" name="phone" id="phone" class="form-control" ng-model="$ctrl.user.phone" size="20"/></td>
	</tr>
	<tr>
		<td><label for="mobile">GSM</label></td>
		<td><input type="tel" name="mobile" id="mobile" class="form-control" ng-model="$ctrl.user.mobile" size="20"/></td>
	</tr>
	<tr>
		<td><label for="registration_number">Identificatienummer van het Rijksregister</label>
			<span id="helpRegistrationNumber" class="help-block">(te vinden op de achterkant van je identiteitskaart)</span>
		</td>
		<td><input type="text" name="registration_number" id="registration_number" class="form-control" 
            ng-model="$ctrl.user.registration_number" size="15" aria-describedby="helpRegistrationNumber" required/>
	</tr>
	<tr>
		<td>Start lidmaatschap</td>
		<td>{{$ctrl.user.membership_start_date}}</td>
	</tr>
	<tr>
		<td>Einde lidmaatschap</td>
		<td>{{$ctrl.user.membership_end_date}}</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<button type="submit" class="btn btn-primary">Aanpassen</button>
			<button type="button" class="btn btn-primary" ng-click="$ctrl.renewal()" data-cy="btn-renew-membership">Lidmaatschap hernieuwen</button>
		</td>
	</tr>
</table>
</form>
<div ng-if="$ctrl.lendingsEnabled">
<h2 >Mijn ontleningen</h2>
<table class="table table-striped">
   <thead>
         <tr>
		    <th ng-if="$ctrl.deliveriesEnabled"></th>
            <th>ID</th>
            <th>Toestel</th>
            <th>Begin</th>
            <th>Einde</th>
         </tr>
   </thead>
   <tbody>
        <tr ng-repeat="item in $ctrl.lendings">
			<td ng-if="$ctrl.deliveriesEnabled">
				<input type="checkbox" name="item_selected" id="lending_selected" class="form-check-input" ng-model="item.selected" ng-disabled="!item.tool.deliverable" value="1"/>
			</td>
            <td><a ng-if="item.tool_id" ng-href="/#!/tools/{{item.tool_id}}">{{item.tool.code}}</a></td>
            <td>{{item.tool.name}}</td>
            <td>{{item.start_date | date:'yyyy-MM-dd'}}</td>
            <td>{{item.due_date}}</td>
            <td>
<!--             	<button ng-click="$ctrl.extend(item)">Verleng</button> -->
            </td>
        </tr>
   </tbody>
</table>
	<button ng-if="$ctrl.deliveriesEnabled" id="btn-pickup-request" type="submit" ng-click="$ctrl.pickupRequest($ctrl.lendings)"
			ng-disabled="!$ctrl.lendings.lendingSelected()" class="btn btn-primary">Ophaling aanvragen</button>
</div>
<div ng-if="$ctrl.reservationsEnabled">
<h2 >Mijn reservaties</h2>
<table class="table table-striped">
   <thead>
         <tr>
		    <th ng-if="$ctrl.deliveriesEnabled"></th>
            <th>ID</th>
            <th>Toestel</th>
            <th>Begin</th>
            <th>Einde</th>
            <th>Status</th>
         </tr>
   </thead>
   <tbody>
        <tr ng-repeat="item in $ctrl.reservations">
			<td ng-if="$ctrl.deliveriesEnabled">
				<input type="checkbox" name="item_selected" id="reservation_selected" class="form-check-input" ng-model="item.selected" ng-disabled="!item.deliverable" value="1"/>
			</td>
            <td><a ng-if="item.tool_id" ng-href="/#!/tools/{{item.tool_id}}">{{item.tool_code}}</td>
            <td>{{item.tool_name}}</td>
            <td>{{item.startsAt}}</td>
            <td>{{item.endsAt}}</td>
            <td>{{item.state}}</td>
            <td>
<!--             	<button ng-click="$ctrl.extend(item)">Verleng</button> -->
            	<button class="btn btn-primary" ng-click="$ctrl.cancel(item)">Annuleer</button>
            </td>
        </tr>
   </tbody>
</table>
<button ng-if="$ctrl.deliveriesEnabled" id="btn-delivery-request" type="submit" ng-click="$ctrl.deliveryRequest($ctrl.reservations)"
		ng-disabled="!$ctrl.reservations.reservationSelected()" class="btn btn-primary">Levering aanvragen</button>

</div>
<div ng-if="$ctrl.deliveriesEnabled">
	<h2>Mijn leveringen</h2>
	<p>Dankzij een samenwerking met <a href="https://www.mechelen.be">Stad Mechelen</a> en <a href="https://www.ecokoeriers.be/">ECOkoeriers</a>
	kunnen we een proefproject opstarten rond leveringen aan huis. <br/>
	Indien je wenst deel te nemen aan dit project, kan je een levering aanvragen door een aantal van je reservaties aan te vinken en
	vervolgens op 'Levering aanvragen' te klikken.	Voor ophalingen vink je één of meerdere toestellen aan uit je ontleningen en klik je op 'Ophaling aanvragen'.
	Je aanvraag wordt dan opgenomen in de lijst hieronder waar je deze kan aanvullen met extra informatie zoals de gewenste lever/ophaaldatum. <br/>
	Alles ingevuld? Klik dan op 'Bevestigen'. Je aanvraag wordt nu verstuurd naar de ECOkoeriers voor verdere verwerking</p>
	<p>
		Let wel:
		<ul>
			<li>
				Voor een aantal toestellen en verbruiksmaterialen rekenen we kosten aan. Bij een levering is het echter <b>enkel mogelijk met
				<a href="https://www.payconiq.be/nl/faq/wie-kan-de-payconiq-by-bancontact-app-gebruiken">Payconiq</a> te betalen</b>.<br>
				De aangerekende tarieven zijn te raadplegen in de <a href="/docs/PrijslijstKlusbib.pdf">Klusbib prijslijst</a>
			</li>
			<li>Leveringen worden telkens klaar gezet op woensdag</li>
			<li>Niet alle toestellen komen in aanmerking, sommige ontleningen/reservaties kunnen dan ook niet aanvinkbaar zijn</li>
		</ul>
	</p>
	<!-- TODO: create a form to submit delivery request -->
	<table class="table table-striped">
		<colgroup>
			<col span="1" style="width: 5%;">
			<col span="1" style="width: 25%;">
			<col span="1" style="width: 15%;">
			<col span="1" style="width: 15%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
		</colgroup>
		<thead>
		<tr>
			<th>ID</th>
			<th>Toestel(len)</th>
			<th>Extra verbruiksmateriaal of handgereedschap</th>
			<th>Opmerkingen</th>
			<th>Datum</th>
			<th>Address</th>
			<th>Status</th>
			<th>Type</th>
		</tr>
		</thead>
		<tr ng-repeat="(key, delivery) in $ctrl.deliveries | recentAndUpcomingDeliveries:7:30">
			<td>{{key+1}}</td>
			<td>
				<ul>
					<li ng-repeat="tool in delivery.items track by $index">
						{{tool.sku}} {{tool.tool_name}}<br/>
						Afmetingen: {{tool.size}}<br/>
						<div ng-if="$ctrl.isDelivery(delivery)">Forfait prijs: {{tool.fee}}</div>
					</li>
				</ul>
			</td>
			<td>
				<textarea rows="3" name="remark" id="consumers"
						  ng-model="delivery.consumers" ng-minlength="0" ng-maxlength="255"  >
				</textarea>
			</td>
			<td>
				<textarea rows="3" name="remark" id="comment"
					   ng-model="delivery.comment" ng-minlength="0" ng-maxlength="255"  >
				</textarea>
			</td>
			<td>
				<select ng-if="$ctrl.isNewDelivery(delivery)" id="deliveryDate" ng-model="delivery.drop_off_date">
					<option ng-repeat="option in delivery.delivery_options" value="{{option.date}}">{{option.formatted}}</option>
				</select>
				<select ng-if="$ctrl.isNewPickUp(delivery)" id="pickUpDate" ng-model="delivery.pick_up_date">
					<option ng-repeat="option in delivery.pickup_options" value="{{option.date}}">{{option.formatted}}</option>
				</select>
				<div ng-if="!$ctrl.isNewDelivery(delivery) && $ctrl.isDelivery(delivery)" >
					{{delivery.drop_off_date}}
				</div>
				<div ng-if="!$ctrl.isNewPickUp(delivery) && $ctrl.isPickUp(delivery)" >
					{{delivery.pick_up_date}}
				</div>
			</td>
			<td>
				<div ng-if="$ctrl.isDelivery(delivery)" >
					{{delivery.drop_off_address}}
				</div>
				<div ng-if="$ctrl.isPickUp(delivery)" >
					{{delivery.pick_up_address}}
				</div>
			</td>
			<td>{{delivery.translated_state}}</td>
			<td>{{delivery.translated_type}}</td>
			<td>
				<button ng-if="$ctrl.isNewDelivery(delivery)" class="btn btn-primary" ng-click="$ctrl.confirmDeliveryRequest(delivery)">Bevestigen</button>
				<button ng-if="$ctrl.isNewPickUp(delivery)" class="btn btn-primary" ng-click="$ctrl.confirmPickUpRequest(delivery)">Bevestigen</button>
				<button class="btn btn-primary" ng-click="$ctrl.cancelDeliveryRequest(delivery)">Annuleer</button>
			</td>
		</tr>
	</table>

	<div class="form-actions">
	</div>
</div>
