img.tool-list {
    width: 200px;
}

img.tool-detail {
    width: 400px;
}

.available {
    background-color: green;
}

.in-use {
    background-color: red;
}

.reserved {
    background-color: purple;
}

.maintenance {
    background-color: orange;
}