<div class="col-md-6 col-md-offset-3">

    <form name="form" ng-submit="vm.enrolment_pay()" role="form">

        <!--<div class="form-group" ng-class="{ 'has-error': form.payment_mode.$dirty && form.payment_mode.$error.required }">-->
        	<div class="form-check" >
	        <label class="form-check-label">Betalingswijze *</label><br>
            <label class="form-check-label" for="payment_mode_mollie">
            <input type="radio" name="payment_mode" id="payment_mode_mollie" class="form-check-input" ng-model="vm.user.payment_mode"
            	value="MOLLIE" required />
            Online betaling
            </label>
            <label class="form-check-label" for="payment_mode_transfer">
            <input type="radio" name="payment_mode" id="payment_mode_transfer" class="form-check-input" ng-model="vm.user.payment_mode"
            	value="TRANSFER" required />
            Overschrijving op volgend rekeningnummer:&nbsp;BE79 5230 8088 4133 (Gebruik ‘lidgeld + naam’ als mededeling)
            </label>
            <span ng-show="form.payment_mode.$dirty && form.payment_mode.$error.required" class="help-block">Kies een betalingswijze</span>
            </div>
        <!--</div>-->

		<div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Bevestigen</button>
        </div>
    </form>

</div>
