<flash-message></flash-message>
<h1 align="center">{{ $ctrl.tool.name || 'empty' }}</h1>
<div class="col-md-3">
	<table
		class="table table-striped table-bordered table-condensed">
		<tbody>
			<tr>
				<td>Categorie</td>
				<td class="wrap">
				<a ui-sref="tools({ category: $ctrl.tool.category })">{{ $ctrl.translateCategory($ctrl.tool.category) }}</a>
				</td>
			</tr>
			<tr ng-if="$ctrl.tool.brand">
				<td>Merk</td>
				<td class="wrap">{{ $ctrl.tool.brand }}</td>
			</tr>
			<tr ng-if="$ctrl.tool.type">
				<td>Model</td>
				<td class="wrap">{{ $ctrl.tool.type }}</td>
			</tr>
			<tr ng-if="$ctrl.tool.code">
				<td>Code</td>
				<td class="wrap">{{ $ctrl.tool.code }}</td>
			</tr>
			<tr ng-if="$ctrl.tool.manufacturer_url">
				<td>Fabrikant</td>
				<td class="wrap"><a href="{{$ctrl.tool.manufacturer_url}}">{{$ctrl.tool.manufacturer_url}}</a></td>
			</tr>
			<tr ng-if="$ctrl.tool.doc_url">
				<td>Documentatie</td>
				<td class="wrap"><a href="{{$ctrl.tool.doc_url}}">{{$ctrl.tool.doc_url}}</a></td>
			</tr>
			<tr ng-if="$ctrl.showAvailability">
				<td>Beschikbaarheid</td>
				<td class="wrap"><div ng-class="$ctrl.getAvailabilityClass($ctrl.tool)">{{ $ctrl.getAvailability($ctrl.tool)}}</div></td>
			</tr>

		</tbody>
	</table>
</div>
<div class="col-md-9">
<!-- <div class="col-md-3"> -->
<!-- 		<div class="w-5 p-3"> -->
<!-- 		</div> -->
    <form editable-form name="editableForm" onaftersave="saveTool()">
         <table cellspacing='0' cellpadding='0' border='0' width='100%'>
              <tr>
                 <td>
                     <i editable-text="$ctrl.tool.description" e-form="textBtnForm">
                         {{$ctrl.tool.description}}</i>
                 </td>
             </tr>
             <tr>
                 <td>
					<img class="tool-detail" ng-src="{{ $ctrl.resizeImage($ctrl.tool.img, '400x') }}"/>
                 </td>
             </tr>
         </table>
         <div class="buttons" ng-if=isAdmin(user)>
             <!-- button to show form -->
             <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                 Edit
             </button>
             <!-- buttons to submit / cancel form -->
             <span ng-show="editableForm.$visible">
                 <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                     Save
                 </button>
                 <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                     Cancel
                 </button>
             </span>
         </div>
     </form>


    <div ng-if="$ctrl.canAddReservation">
    	<h2>Reserveren</h2>
			<p class="input-group" style="max-width: 300px">
				<span class="input-group-addon" id="start-date-label">Van</span> <input
					type="text" class="form-control" uib-datepicker-popup
					ng-model="$ctrl.reservationStartDate"
					is-open="$ctrl.startDatePicker.opened"
					datepicker-options="$ctrl.dateOptions" close-text="Sluiten"
					aria-describedby="start-date-label"
					ng-change="$ctrl.updtReservationEndDate()"
					ng-init="$ctrl.reservationStartDate = $ctrl.now(); $ctrl.updtReservationEndDate()" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="$ctrl.openDatePicker()">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			
			<p class="input-group" style="max-width: 300px">
				<span class="input-group-addon" id="end-date-label">Tot</span> <input
					type="date" class="form-control"
					ng-model="$ctrl.reservationEndDate"
					aria-describedby="end-date-label" ng-disabled="true" />
			</p>

			<button ng-click="$ctrl.requestReservation($ctrl.user, $ctrl.tool, 
					$ctrl.reservationStartDate, $ctrl.reservationEndDate)"
				class="btn btn-primary">Reserveren</button>
	</div>

	<div ng-if="$ctrl.showCalendar">
   	<h2 class="text-center">{{ $ctrl.calendarTitle }}</h2>
   	<flash-message></flash-message>
   	<button
	  class="btn btn-primary"
	  mwl-date-modifier
	  date="$ctrl.viewDate"
	  decrement="$ctrl.calendarView">
	  Vorige
	</button>
	
	<button
	  class="btn btn-default"
	  mwl-date-modifier
	  date="$ctrl.viewDate"
	  set-to-today>
	  Vandaag
	</button>
	
	<button
	  class="btn btn-primary"
	  mwl-date-modifier
	  date="$ctrl.viewDate"
	  increment="$ctrl.calendarView">
	  Volgende
	</button>
    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'year'" ng-click="$ctrl.cellIsOpen = false">Jaar</label>
        <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'month'" ng-click="$ctrl.cellIsOpen = false">Maand</label>
        <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'week'" ng-click="$ctrl.cellIsOpen = false">Week</label>
<!--         <label class="btn btn-primary" ng-model="$ctrl.calendarView" uib-btn-radio="'day'" ng-click="$ctrl.cellIsOpen = false">Dag</label> -->
      </div>
    </div>
	<mwl-calendar
	    view="$ctrl.calendarView"
	    view-date="$ctrl.viewDate"
	   	events="$ctrl.events"
	    view-title="$ctrl.calendarTitle"
	   	on-event-click="$ctrl.eventClicked(calendarEvent)"
	    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
	    cell-is-open="true"
	    on-timespan-click="$ctrl.timespanClicked(calendarDate, calendarCell)"
<!--		excluded-days="$ctrl.excludedDays"-->
	>
	</mwl-calendar>
	</div>				
	<br><br><br>
</div>
