<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Inloggen</strong>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="$ctrl.signin()">
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">E-mail</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="E-mail" ng-model="$ctrl.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Paswoord</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" placeholder="Paswoord"
                                   data-ng-model="$ctrl.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary pull-right"
                            	data-ng-if="!$ctrl.user.id">Inloggen</button>
                            <button type="button" class="btn btn-primary pull-right"
                                data-ng-if="!$ctrl.user.id" data-ng-click="$ctrl.resetPwd()">Paswoord vergeten?</button>
                            <button type="button" class="btn btn-primary pull-right" 
                            	data-ng-if="$ctrl.user.id" data-ng-click="$ctrl.signout()">Uitloggen</button>
                        </div>
                    </div>
                    <p data-ng-show="$ctrl.error" class="error">{{ $ctrl.error }}</p>
                </form>
            </div>
        </div>
    </div>
</div>